<div class="card">
    <div class="card-header bg-dark">
        <h3 class="text-muted">
            <i class="far fa-image"></i>
            Coders by Coders
        </h3>
    </div>
    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup"
                            aria-describedby="inputGroupFileAddon" required/>
                        <label class="custom-file-label" for="inputGroupFile">Escoge tu archivo</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="El título de tu Archivo Coder"
                    required>
            </div>
            <div class="form-group">
                <textarea name="description" rows="2" class="form-control"
                    placeholder="Describe tu porotito para la RedCoder" required></textarea>
            </div>
            <div class="form-group">
                <button class="text-muted btn btn-outline-warning">
                    <i class="fa fa-upload"></i> Sube Tu CoderBean
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header bg-dark text-muted">
        <h3><i class="far fa-images"></i> Recien Cargadas </h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each images}}
            <div class="col-md-4">
                <a href="/images/{{uniqueId}}">
                    <img src="/public/upload/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>