<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coder Beans</title>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/8e086ac1af.js" crossorigin="anonymous"></script>
    <!--Custom Css-->
    <link rel="stylesheet" href="/public/css/style.css">
    <!--BOOTSWatch-->
   <link rel="stylesheet" href="/public/css/bootstrap.min (1).css">
   
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark ">
            <a href="/" class="navbar-brand">
                <img src="/public/img/coder9.png" alt="Coder Beans">
            </a>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{  body  }}}
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    
    </div>
<!--JQuery-->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<!--CustomScript-->
<script src="/public/js/scripts.js"></script>
</body>
</html>